<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users: </title>
</head>
<body>
<div>
    <table class="table table - dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user: ${users}" >
            <td th:text = "${user.id}"/>
            <td th:text = "${user.name}"/>
            <td th:text = "${user.surname}"/>
            <td th:text = "${user.phoneNumber}"/>
        </tr>
        </tbody>
    </table>
</div>

<br>

<form>
    <input type="button" onclick="window.location.href = 'http://localhost:8080/users/create';" value="Create user"/>
</form>

<br>

<form name="updateForm">
    <label>
        <input type="text" name="id" value="1">
    </label>
    <input type="button" value="User to be edited ID" onclick="window.location.href='http://localhost:8080/users/'+escape(document.forms['updateForm'].elements['id'].value+'/update')">
</form>

<br>



</body>
</html>